.two-colums__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin: 0 0 30px;
  }

  .two-colums__paragraph:last-of-type {
    margin-bottom: 0;
  }